.recent-trip-area{
    margin-top: 50px;
}
.recent-trip-area .recent-trip-title h3{
    font-size: 35px;
    color: rgb(33, 37, 41);
    text-align: center;
}

.recent-trip-area .trips{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    padding: 0;
    flex-wrap:wrap ;
}
.recent-trip-area .single-trip{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.recent-trip-area .trips img{
    width: 100%;
}

.recent-trip-area .single-trip span{
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 400;

}

.recent-trip-area .single-trip h3{
    color: rgb(0, 123, 255);
    font-size: 25px;
    font-weight: 600;
}

@media screen and (max-width: 640px) {
    .recent-trip-area .trips .single-trip{
        flex: 1 1 100%;
    }

    .recent-trip-area .trips .single-trip h3{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .recent-trip-area .trips{
        width: 90%;
    }
    .recent-trip-area .trips .single-trip h3{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .recent-trip-area .trips{
        width: 90%;
    }
    .recent-trip-area .trips .single-trip h3{
        font-size: 1.3rem;
    }
}