.ant-carousel{
    width: 100%;
    margin: 20px auto;
    padding: 0;
}

.ant-carousel .slick-slide{
   background-color: #eaeaea;
}
.owl-stage-outer{
    width: 50% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 30px 20px; 
}

.owl-stage-outer img{
    vertical-align: middle;
}

.owl-stage-outer p{
    color: rgb(33, 37, 41);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 16px;

}

.owl-stage-outer h3{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}