.number p i{
    font-size: 13px;
    color:#FF4A52;
    margin-right: 5px;
}

.number p{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #040E27;
    padding-top: 1rem;
}
.number{
    border-right: 1px solid #b2b2b2;
    padding: 10px;
}

@media screen and (max-width: 960px){
    .number{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .number{
        display: none;
    }
}