.footer{
    margin-top: 50px;
    background-color: #f8f9fa;
   
}

.footer .footer-top h3{
    font-size: 28px;
    font-weight: 600;
}
.footer .footer-top{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    padding: 0;
   
}

.footer .footer-top .info{
    flex: 1 1 20%;
    padding: 15px;
}

.footer .footer-top .info p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 37 ,41);
    margin-bottom: 15px;
    margin-top: 5px;
}

.footer .footer-top .info p a:hover{
    text-decoration: underline;
}

.footer .footer-top .info ul{
    list-style-type: none;
  
}

.footer .footer-top .info ul li .fab{
    color: rgb(0, 123, 255)
}   

.footer .footer-top .info ul li{
    display: inline-block;
    padding-right: 5px;
}

.footer .footer-top .company{
    flex: 1 1 20%;
    padding: 15px;
}

.common-ul{
    list-style-type: none;
}

.common-ul li{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
 
}

.common-ul li a {
    color:rgb(33, 37 ,41);
}

.footer .footer-top .popular-destination-footer{
    flex: 1 1 30%;
    padding: 15px;
}

.footer .footer-top .instagram{
    flex: 1 1 25%;
    padding: 15px;
    
}

.footer .footer-top .instagram .image-instagram{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.footer .copy-right{
   padding-left: 20px;
}

.footer .copy-right p{
    font-size: 16px;
    font-weight: 400;

}

@media screen and (max-width: 640px) {
    .footer .footer-top{
        gap: 0;
    }
    .footer .footer-top .info, .company, .popular-destination-footer, .instagram{
        text-align: center;
        min-width: 80%;  
    }
    .footer .footer-top .instagram .image-instagram{
        justify-content: center;
        min-width: 60%;
    }
    
    .footer .footer-top .instagram .image-instagram img{
        flex-basis: 30%;
    }
    .footer .copy-right p{
        text-align: center;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .info , .company .popular-destination-footer, .instagram{
        min-width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .footer .footer-top{
        width: 100%;
    }
    .footer .footer-top .info{
        margin-left: 20px;
    }
    .footer .footer-top .company{
        max-width: 15%;
    }
    .footer .footer-top .company h3{
        font-size: 25px;
    }
    .footer .footer-top .popular-destination-footer{
        max-width: 20%;
    }
    .footer .footer-top .popular-destination-footer h3{
        font-size: 25px;
    }
    .footer .footer-top .instagram{
        max-width: 30%;
    }
    .footer .footer-top .instagram .image-instagram .item-image{
        flex-basis: 25%;
        max-width: 25%;
    }
    .footer .footer-top .instagram .image-instagram .item-image img{
        width: 100%;
    }
}